@import '../../styles/main.scss';

.questioControl {
  background-color: $color-primary-dark;
  width: 90vw;
  border-radius: 0px 5px 5px 0px;
  margin-top: 20px;
  padding: 2%;

  .header {
    display: flex;
    justify-content: space-between;

    .title {
      font-family: 'Hind';
      font-weight: 600;
      font-size: 18px;
    }

    .bookmark {
    }
  }
}
