@import '../../styles/main.scss';

.questionPage {
  background-color: $color-white;
  height: 100%;
  width: 100%;
  padding-top: 40px;
  color: black;

  .top {
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .titleContainer {
      display: flex;
      justify-content: space-between;

      .rateIcon {
        width: 40px;
      }
    }

    .questionDetails {
      display: flex;
      justify-content: space-between;

      .author {
        display: flex;
        flex-direction: column;
        flex: 1;

        .userCard {
          display: flex;
          align-items: center;
          gap: 10px;
        }
      }

      .actions {
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: end;
        justify-content: end;
        gap: 5px;


        .actionBtnContainer {

          display: flex;
          gap: 1px;

          .btnAction {
            border: 0px;
            text-decoration: underline;
            background-color: transparent;
          }
        }
      }
    }
    .tags {
      display: flex;
      gap: 20px;
    }

    .tag {
      background-color: $color-primary;
      padding: 3px 10px;
      border-radius: 5px;
      box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.2);
      font-family: 'Hind';
      font-weight: 700;
    }
  }

  .icon {
    width: 17px;
  }

  .topAnswer {
    color: #7f4992;

    .topAnswerTitle {
      text-align: center;
    }

    .topAnswerHr {
      background-color: #7f4992;
    }
  }

  .comments {
    color: $color-primary-dark;
    .commentsTitle {
      text-align: center;
    }
  }
}
