.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 80vh;
  width: 82vw;
  display: inline-flex;
}

.tags {
  display: inline-flex;
  flex-direction: row;
  background: white;
  justify-content: space-evenly;

  display: flex;
  flex-direction: row;
}

.tag {
  padding: 10px;
  border-radius: 10px;
  background: rgba(0, 106, 217, 1);
  font-weight: 800;
  font-size: 20px;
}

.qText {
  resize: none;
  font-size: 16px;
}

.newQ {
  height: 80vh;
}

h1 {
  font-size: 46px;
  text-align: center;
}

label {
  font-size: 24px;
}

input[type='checkbox']:checked + label {
  background: rgb(6, 53, 104);
}

input[type='checkbox'] {
  opacity: 0;
}

input[type='checkbox']:hover + label {
  background: rgb(6, 53, 104);
}

input[type='checkbox']:active + label {
  background-color: rgba(0, 106, 217, 0.8);
  transform: translateY(-4px);
}

input[type='text'] {
  height: 48px;
  font-size: 24px;
}

.askBtn {
  width: auto;
}
