@import '../../styles/main.scss';

.answerControl {
  background-color: #7F4992;
  width: 90vw;
  border-radius: 25px 25px 25px 0px;
  margin-top: 20px;
  padding: 2%;
  color: white;

  .header {
    display: flex;
    justify-content: space-between;
  }
}
