@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@400;500&family=Hind:wght@300&display=swap');
body {
  font-family: 'Hind', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: $color-white;
}

.heading-1 {
  font-family: 'Expletus Sans', cursive;
  color: $color-white;
  text-transform: capitalize;
  backface-visibility: hidden;
  font-size: 64px;
}

.heading-2 {
  font-family: 'Expletus Sans', cursive;
  font-size: 48px;
  font-weight: 700;
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s;

  @include respond(tab-port) {
    font-size: 3rem;
  }

  @include respond(phone) {
    font-size: 2.5rem;
  }
}

.heading-3 {
  font-family: 'Expletus Sans', cursive;
  font-size: 44px;
  font-weight: 400;
}

.heading-4 {
  font-family: 'Expletus Sans', cursive;
  font-size: 44px;
  font-weight: 400;
  text-transform: uppercase;
}

.heading-5 {
  font-family: 'Expletus Sans', cursive;
  font-size: 24px;
  font-weight: 400;
}

.p1 {
  font-size: $default-font-size + 0.8rem;
  font: 'hind';
  font-weight: 400;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }

  &--bold {
    font-size: $default-font-size + 0.8rem;
    font-weight: 700;
  }
}

.p2 {
  font-size: $default-font-size + 0.7rem;
  font: 'hind';
  font-weight: 300;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }

  &--bold {
    font-size: $default-font-size + 0.8rem;
    font-weight: 700;
  }
}
